/* .vitepress/theme/custom.css */

/* Logo text VBot */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ALL */
:root {
  --font-family:'Be Vietnam Pro', 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
}

@media (min-width: 960px) {
  .name, .text {
    font-family: 'Be Vietnam Pro','Inter', sans-serif !important;
    font-weight: 400 !important;
  }
}

@media (min-width: 960px) {
  .tagline[data-v-c048e6d7] {
    font-family: 'Inter', sans-serif !important;
      line-height: 28px;
      font-size: 20px;
      font-weight: 400 !important;
  }
}

.sidebar-link.active {
  color: #42b983 !important;
  font-weight: bold !important;
}

.VPNavBarTitle a {
    color: #19b24f !important;
  }

:root {
    --vp-c-brand-1: #19b24f;
  }

  :root {
    --vp-c-indigo-2: #1a9314;
 
    --vp-button-brand-bg: #19b24f;   
    }
    
  :root {
    --vp-home-hero-image-background-image: linear-gradient(45deg, #309c56 50%, #1865BDFF 50%);   /* phát sáng logo */
    --vp-home-hero-image-filter: blur(44px);
  }

    /* phát sáng logo */
    @media (min-width: 960px) {
      :root {
          --vp-home-hero-image-filter: blur(100px);
      }
  }
    
    /* Viền nút POST,GET */
    .api-container {
      display: flex;
      align-items: center;
      background: transparent;
      border: 0.5px solid #808080;
      border-radius: 6px;
      padding: 10px;
      font-family: monospace;
      color: #98989f;
    }
    
 /* background POST,GET */
    .api-method {
      background: #21a366;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      margin-right: 10px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }
    
  /* hiệu ứng click  POST,GET */
    .api-method:active {
      transform: scale(1.1);
    }
    
  /* Màu text hướng dẫn */
    .highlight-text {
      color: #22c55e; 
    }
    

    /* note Lưu ý */
    .note {
      border-left: 4px solid #2e92cc;
      padding-left: 10px;
      font-style: italic;
  }
  




  
